/* :root apunta a la etiqueta raiz "html" para que quede disponible en toda la pagina lo que declaremos aqui */
:root {
    /* Declaramos 3 variables que contendran colores que se utilizaran multiples veces */
    --verde-fosforo: #33ff66;
    --verde-claro:   #aaffaa;
    --fondo-crt:     #0a140a;
}

/* Modificaciones por defecto que tendran los elementos contenidos en la pagina */
body {
    margin: 0;
    /* Pintamos el fondo de la pagina */
    background-color: var(--fondo-crt);

    /* Dibujamos la cuadricula con dos gradientes apilados: el primero dibuja lineas verticales, el segundo horizontales */
    background-image:
        /* Lineas verticales: la direccion es "to right", entonces las lineas quedan verticales */
        repeating-linear-gradient(
            to right,
            rgba(120, 200, 190, 0.08) 0px,
            rgba(120, 200, 190, 0.08) 1px,
            transparent 1px,
            transparent 20px
        ),
        /* Lineas horizontales: la direccion es "to bottom", entonces las lineas quedan horizontales */
        repeating-linear-gradient(
            to bottom,
            rgba(120, 200, 190, 0.08) 0px,
            rgba(120, 200, 190, 0.08) 1px,
            transparent 1px,
            transparent 20px
        );
    /* Hace que la cuadricula no se mueva cuando el usuario hace scroll */
    background-attachment: fixed;

    /* Pintamos el color del texto */
    color: var(--verde-fosforo);
    /* Cambiamos la fuente de la letra */
    font-family: 'VT323', 'Press Start 2P', monospace;
    /* Ajustamos el tamaño de la letra en toda la pagina */
    font-size: 2rem;
    /* Ajustamos el espacio entre lineas */
    line-height: 1.6;
    /* Ajustamos el espacio interno alrededor del contenido */
    padding: 2rem;
    /* Ajustamos el tono brillante del texto */
    /* Para generar sombras en las letras */
    text-shadow:
    /* (Desplazamiento:'Horizontal' 'Vertical') 'Difuminado' 'Color' */
    0 0 2px  var(--verde-fosforo),
    0 0 6px  var(--verde-fosforo),
    0 0 14px #00cc33;
}

/* Modifico el titulo y subtitulo */
h1, h2, p {
    color: var(--verde-claro);
    /* Ajustamos la separacion entre letras para una mejor legibilidad */
    letter-spacing: 2px;

    text-shadow:
    0 0 4px  #66ff88,
    0 0 10px #33ff66,
    0 0 22px #00ff44,
    0 0 40px #00aa22;
}

/* Modificacion a los links o enlaces de navegabilidad en la pagina */
a {
    color: #66ff99;

    /* Quitamos el subrayado por defecto que tiene un link */
    text-decoration: none;

    text-shadow: 0 0 4px #33ff66, 0 0 8px #00cc33;
}

/* Customizacion: Cuando el mause este encima del link */
a:hover{
    color: #ccffcc;

    /* Agregamos un contorno a los links */
    /* 'El grozor' 'Tipo' 'Color' */
    outline: 2px solid var(--verde-fosforo);

    /* Ajustamos la separacion del contorno con el texto */
    outline-offset: 3px;
}

.bordeOscuro {
    position: fixed;
    inset: 0;
    pointer-events: none;
    /* Dibuja un gradiente que va desde un punto central hacia afuera, en forma de circulo */
    background: radial-gradient(
    /* Aca se aclara que vas desde un punto central hacia afuera y que no es un circulo perfecto el que se sibuja sino un elipse */
    ellipse at center,
    transparent 60%,
    rgba(0, 0, 0, 0.65) 100%
    );
    z-index: 9998;
}

/* Modificacion del fondo dinamico decorativo */
.fondoRetro {
    /* Se encla en la pantalla se movera junto al usuario */
    position: fixed;
    /* Permite que este fonde se vea por toda la pantalla */
    /* Esta en 0 para decirles a todos los parametros que tnegan el mismo valor */
    /* Parametros: 'top' 'right' 'bottom' 'left' */
    inset: 0;
    /* Para que no interfiera con los enlaces o interaccion que se pueda hacer click, dejamos en claro que este fondo es "transparente" */
    pointer-events: none;
    /* Funcion que dibuja lineas horizontales que se repite indefinidamente */
    background: repeating-linear-gradient(
    /* La direccion de las lineas seran de arriba hacia abajo */
    to bottom,
    /* rgba te permite regular la intensidad de la linea */
    rgba(0, 0, 0, 0.18) 0px, /* Desde el pixel 0, color negro con 18% de opacidad */
    rgba(0, 0, 0, 0.18) 1px,
    transparent 1px, /* Desde el pixel 1, color transparente */
    transparent 3px
    );
    /* Define como se combina esta capa con lo que esta debajo (texto, fondo, imagenes) */
    mix-blend-mode: multiply;
    /* Deja en claro la prioridad que tiene esta funcion(Fondo decorativo) con el resto */
    z-index: 9999;
}

header h1 {
    text-align: center;
    font-size: 4rem;
}
